html {
    background-color: black;
}
.App {
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.parallax1 {
    width: 80%;
    height: 90vh;
    border: 10px grey solid;
    margin: auto;
}
.nav {
    display: flex;
    height: 200vw;
    display: flex;
    width: 22vw;
}
.content {
    width: 78vw;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.p2 {
    height: 10vh;
}
.name {
    font-size: 24px;
}
.portfolio {
    padding-top: 10vh;
    width: 100%;
}
.contact {
    height: 100vh;
    color: white;
}
.music {
    height: 100vh;
}
.onPic {
    background-color: white;
    opacity: 0.5;
}
