html {
    background-color: black;
}
.App {
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.parallax1 {
    width: 60%;
    height: 90vh;
    border: 10px grey solid;
    margin: auto 100px;
    margin-left: 100px;
}
.parallax2 {
    width: 60%;
    height: 90vh;
    border: 10px grey solid;
    margin: auto 100px;
    margin-left: 300px;
}
.parallax5 {
    width: 50%;
    height: 40%;
    background-position: center bottom;
    border: 10px grey solid;
    margin: auto;
    padding-right: 100px;
}
.nav {
    display: flex;
    height: 150vh;
    display: flex;
    width: 22vw;
}
.content {
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}
.info {
    color: white;
}
.p2 {
    height: 10vh;
}
.name {
    font-size: 24px;
}
.portfolio {
    padding-top: 10vh;
    padding-left: 300px;
    width: 100%;
}
.blank {
    display: flex;
    flex-direction: column;
}
.home {
    /* padding-top: 10vh; */
    width: 100%;
}
.home1 {
    display: flex;
    flex-direction: row;
    width: 80vw;
}
.contacts {
    margin-top: 200px;
    width: 80%;
    color: black;
    background-color: grey;
    align-content: center;
    border-color: white solid 2px;
    height: 50vh;
}
.link-badge {
    height: 8em;
    margin: 1em;
    opacity: 0.9;
}
.music {
    margin-top: 10px;
    color: black;
    width: 80%;
    color: black;
    background-color: grey;
    align-content: center;
    border-color: white solid 2px;
}

.music2 {
    font-size: 9em;
}
.about {
    margin-top: 100px;
    height: 600px;
    color: white;
    opacity: 0.7;
    width: 70vw;
    padding: 0;
    font-size: 20px;
    flex-direction: row;
    align-content: flex-end;
    padding-right: 50px;
    padding-left: 50px;
}
.onPic {
    background-color: white;
    opacity: 0.5;
    font-size: 32px;
    list-style: none;
    padding: 10px;
    margin-top: 100px;
    align-content: flex-end;
}
.onPic1 {
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: 0.5;
    font-size: 32px;
    list-style: none;
    padding: 10px;
}
.onPicLI {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
}
h2 {
    font-size: 30px;
    text-decoration: underline;
}
.space1 {
    height: 110px;
}
.space2 {
    height: 130px;
}
.blank {
    width: 78vw;
    display: flex;
    margin-right: 100px;
    justify-content: center;
}

.snip1579 {
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 8px;
    min-width: 250px;
    max-width: 250px;
    width: 100%;
    background-color: inherit;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1579 * {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1579 img {
    max-width: 100%;
    vertical-align: top;
}

.snip1579 figcaption {
    position: absolute;
    height: 75px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow: hidden;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.75);
}

.snip1579 h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
}

.snip1579 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    /* color: #bbb; */
    letter-spacing: 1px;
}

.snip1579 blockquote {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 1em;
}
.snip1579 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5%;
}

iframe {
    border-radius: 20%;
}

.snip1579:hover figcaption,
.snip1579.hover figcaption {
    height: calc(85%);
}
.big {
    font-size: 9em;
    text-shadow: 2px 2px rgb(209, 198, 198);
    text-decoration: underline; 
}